<article>

<div class="be-comment">
	<% if comment.active %>
		<div class="be-img-comment">	
			<a href="blog-detail-2.html">
				<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">
			</a>
		</div>
		<div class="be-comment-content">
			
				<span class="be-comment-name">
					<a href="blog-detail-2.html"><%= comment.user.firstname%> <%= comment.user.lastname%></a>
					</span>
				<span class="be-comment-time">
					<i class="fa fa-clock-o"></i>
					<%# May 27, 2015 at 3:14am not populated %>
				</span>

			<p class="be-comment-text">
          	<%= comment.content %>
		  	<% if comment.user_id == current_user.id || current_user.admin%>
		  	<div class="btn btn-outline-success">
				<%= link_to '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
					<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
					<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
				</svg>'.html_safe, comments_remove_path(comment),data: { confirm: 'Are you sure?' }, :class => "btn newMerchandise"  %>
			</div>
			<% end %>
			</p>
		</div>
	</div>
	<hr />
	<% end %>
  </article>