<form action="<%=announcement_comments_path(announcement) %>" method>
  <input type="hidden" name="authenticity_token">
  <textarea name="comment[content]" rows="6" cols="60"> comment here</textarea>
  <input type="submit" name="Submit">
</form>