
.button-35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
  position:relative;
  top: 50px;
  left: 41%;
  margin-right: 50px;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

h2 {
  text-align:center;
  position:relative;
  top: 5px;
}

h4 {
  text-align:center;
  position:relative;
  top: 20px;
}

.style-image {
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 5%;
}

.nav-img{
  position: relative;
  right: 350%;
  top: -3px;
  width: 40%;
  height: auto;
}

.landing-nav{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 39px;
  text-decoration: none;
  color: white;
  display: flex;
  position: relative;
  left: 180%;
  top: 25px;
  letter-spacing: -0.017em;
  margin-right: 45px;
}

.signuplogin-nav-img{
  position: relative;
  right: 1035px;
  top: -3px;
  width: 40%;
  height: auto; 
}

.signup{
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 2%;
  margin-bottom: 2%;
}

.login-nav-img{
  position: relative;
  right: 1050px;
  top: -3px;
  width: 40%;
  height: auto;
}

.login-btns{
  color: #344734;
  background-color: transparent;
  background-image: none;
  border-color: #344734;
  width:300px !important
}
.login-btns:hover {
  color: #fff;
  background-color: #344734 !important;
  border-color: 344734;
}

.signup-btn {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.signup-btn:hover {
  background-color: #f7fafa;
}

.signup-btn:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.loggedin-nav{
  position: relative;
  right: 314px;
  top: -3px;
  width: 40%;
  height: auto;
}

.signout-nav-link {
  position: relative;
  left: 180%;
  top: 17px;
}

.profile-nav-link{
  position: relative;
  left: 149%;
  top: 17px;
}

.one {
  position: relative;
  top: 17px; 
  right: 70px;
}

.flash-message-wrapper{
  width: 430px;
  text-align: center;
  position:fixed; 
  top: 120px;  
  left: 1%;
  z-index:9999; 
  border-radius:0px;


  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 7s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 5s;
}
@keyframes seconds{
  0%{
    opacity: 1;
  }
  10%{
    opacity: 0.9;
  }
  20%{
    opacity: 0.8;

  }
  30%{
    opacity: 0.7;

  }
  40%{
    opacity: 0.6;

  }
  50%{
    opacity: 0.5;

  }
  60%{
    opacity: 0.4;

  }
  70%{
    opacity: 0.3;

  }
  80%{
    opacity: 0.2;

  }
  90%{
    opacity: 0.1;

  }
  100%{
    display: none;
    opacity: 0;
  }
}


.aboutks{
  font-family: Palatino;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 300%;
}

.aboutks_p{
  font-family: Garamond;
  text-align: center;
  font-size: 120%;
  margin-left: 450px;
  margin-right: 450px;
  
}

.aboutks_fp{
  font-family: Palatino;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 260%;
}